/bower_components/
/dist/
/node_modules/

# OS X
.DS_Store*
Icon?

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Other
.tmp
local.env.js

# npm
node_modules
*.log
*.gz


# Coveralls
coverage

# Benchmarking
benchmarks/graphs